<div class="presentation-slide-title">
    Slide {{currentSlide.id}} / {{model.length}}
</div>

<div class="presentation-slide-body">
    {{{currentSlide.body}}}
</div>

{{outlet}}

<nav>
    <button {{action 'prevSlide'}}>&lt;</button>
    <button {{action 'nextSlide'}} autofocus>&gt;</button>
</nav>

<footer>
    <p>
        See this presentation at <a {{bind-attr href=url}}
            >nikolas.us.to/weatherroulette/</a>
    </p>
</footer>