{{{currentSlide.body}}}

{{outlet}}

<nav>
    <button {{action 'prevSlide'}}>&lt;</button>
    <button {{action 'nextSlide'}} autofocus>&gt;</button>
</nav>

<footer>
    <p>
        See this presentation at <a {{bind-attr href=url}}>{{url}}</a>
    </p>
</footer>