<nav>
    <button {{action 'prevSlide'}}>&lt;</button>
    <button {{action 'nextSlide'}} autofocus>&gt;</button>
</nav>

<div class="presentation-slide-title">
    Slide {{currentSlide.id}} / {{model.length}}
</div>

<div class="presentation-slide-body">
    {{{currentSlide.body}}}
</div>

{{outlet}}

<footer>
    <p>See this presentation at <a {{bind-attr href=url}}
        >nikolas.us.to/weatherroulette/</a>
        <br />
        <small>
            The source code is at <a
                href="https://github.com/nikolas/weatherroulette-presentation"
                target="_blank"
                >github.com/nikolas/weatherroulette-presentation</a>
        </small>
    </p>
</footer>